@font-face {
    font-family: PokeFont;
    src: url(./Pokemon\ Hollow.ttf);

    }

h1{
    margin-top: 30px;
    font-family: PokeFont;
    font-size: 100px;
    text-align: center;
    color: #FFDE00;
}
body{
    background-color: #CC0000;
}
img{
    height: 125px;
}
div{
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
h5{
    text-transform: capitalize;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    
}
